# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
bin/
obj/

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
*.dll
*.cache
*.suo
Server/ProjectWit.Server/ProjectWit.Model/obj
Server/ProjectWit.Server/ProjectWit.Model/debug
Server/ProjectWit.Server/ProjectWit.Web/debug
Server/ProjectWit.Server/ProjectWit.Web/obj

Server/ProjectWit.Server/ProjectWit.Server.v12.suo
*.suo
Client/www/SampleAjax Calls/index.html
Client/www/SampleAjax Calls/jquery-1.8.2.min.js
*.config
