.wit-header {
	/*background: #E4E4E4;*/
	text-align: center;
}

.bar-header-secondary {
	/*background: #323944;*/
	background: orange;
}

.bar-header-secondary .title {
	color: #ffffff;
}

.bar-header-secondary ~ .content {
  padding-top: 98px;
}

.bar-header-ternary {
	top: 88px;
}

.bar-header-ternary ~ .content {
  padding-top: 130px;
}

.content {
	padding-left: 10px;
	padding-right: 10px;
}

.content > .table-view:first-child {
  margin-top: 5px;
}

/* Grid Layout */
.table-grid {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 15px;
	list-style: none;
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.table-grid-cell {
	float: left;
	width: 50%;	
	padding: 11px 65px 11px 15px;
	overflow: hidden;
}

.table-grid .media,
.table-grid .media-body {
  overflow: hidden;
}