@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis turpis ac enim consequat volutpat in ac mi. </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started..</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis turpis ac enim consequat volutpat in ac mi. 
            Suspendisse eu libero sed elit vestibulum tincidunt. Aenean luctus sapien ex, et malesuada erat vehicula et. Aenean leo arcu, scelerisque vitae nisl ac, 
            lobortis rhoncus ipsum. Vivamus quis libero rutrum, interdum risus faucibus, consequat quam. Aliquam rutrum lacus felis, egestas congue est vulputate quis. 
            Nam gravida porttitor risus, vitae maximus urna faucibus at. Morbi ut dui et felis ornare consectetur. Pellentesque scelerisque, lectus ac posuere eleifend, 
            nunc enim euismod quam, quis elementum velit dui sed erat. Nulla feugiat in mi ac porta. In imperdiet, ligula et ultrices bibendum, justo mi bibendum massa.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>