@*The menus in the upper right*@

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <li>
                    <a href="@Url.Action("Edit", "User", new { id = Session["UserID"] })"><i class="fa fa-user fa-fw"></i> Users Profile</a>
                </li>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <li>
                            <a href="javascript:LogOut()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    }
            </li>
        </ul>
    </li>

<script>
    function LogOut()
    {
        sessionStorage.clear();
        localStorage.clear();
        document.getElementById('logoutForm').submit();
    }
</script>