<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WitDbContext" connectionString="metadata=res://*/ProjectWit.Model.csdl|res://*/ProjectWit.Model.ssdl|res://*/ProjectWit.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LOCAL)\MSSQLSERVER2012;initial catalog=WIT;persist security info=True;user id=sa;password=Deltek123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>